[submodule "website/themees/HugoMDL"]
	path = website/themees/HugoMDL
	url = https://github.com/jchatkinson/HugoMDL
[submodule "website/themes/HugoMDL"]
	path = website/themes/HugoMDL
	url = https://github.com/jchatkinson/HugoMDL
